<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSE Cyber Workflow Interactive</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>SSE Cyber Interactive</h1>
    <div class="image-container">
        <!-- The main image -->
        <img src="/static/images/workflow.png" usemap="#workflowMap" alt="USAF SSE Cyber Workflow">
    </div>

    <!-- Map for actual functionality -->
     <!-- This goes x1, y1, x2, y2 -->
      <!-- Website reference: https://www.image-map.net/ -->
    <map name="workflowMap">

        <!-- 1.0 Section -->
        <area shape="rect" coords="127,156,348,279" href="/output_table" alt="UserReq">
        <area shape="circle" coords = "235,378,49" href="/start" alt="Start" >
        <area shape="rect" coords="137,694,337,797" href="/1.1" alt="1.1">
        <area shape="rect" coords="137,852,333,959" href="/1.2" alt="1.2">
        <area shape="rect" coords="144,1014,330,1121" href="/1.3" alt="1.3">
        <area shape="rect" coords="398,700,567,794" href="/1.6" alt="1.6">
        <area shape="rect" coords="398,858,567,955" href="/1.5" alt="1.5">
        <area shape="rect" coords="392,1020,569,1119" href="/1.4" alt="1.4">
        <area shape="rect" coords="398,502,567,599"  href="/1.7" alt="1.7" >
        <area shape="rect" coords="444,355,525,415"  href="/page1" alt="ApproveAcqStrat" >
        <area shape="circle" coords="484,215,37"  href="/page1" alt="RAA" >

        
        <!-- 2.0 Section -->
        <area shape="rect" coords="736,351,804,421" href="/page1" alt="ApproveRFP" >
        <area shape="rect" coords="699,509,846,595" href="/2.4" alt="2.4" >
        <area shape="rect" coords="688,696,859,805" href="/2.3" alt="2.3" >
        <area shape="rect" coords="686,862,861,955" href="/2.2" alt="2.2" >
        <area shape="rect" coords="675,1016,859,1121"href="/2.1" alt="2.1" >

        <!-- 3.0 Section -->
        <area shape="rect" coords="907,696,1074,806" href="/3.1" alt="3.1" >
        <area shape="rect" coords="967,197,1043,241" href="/page1" alt="ContractAward">

        <!-- 4.0 Section -->
        <area  shape="rect" coords="1157,1012,1359,1099" href="/4.1" alt="4.1" >
        <area  shape="rect" coords="1160,854,1355,961" href="/4.2" alt="4.2" >
        <area  shape="rect" coords="1171,694,1346,795" href="/4.3" alt="4.3" >
        <area  shape="rect" coords="1171,505,1353,603" href="/4.4" alt="4.4" >
        <area  shape="rect" coords="1171,336,1346,441" href="/4.5" alt="4.5" >
        <area  shape="rect" coords="1227,191,1294,248" href="/page1" alt="DecisionPoint">

        <!-- 5.0 Section -->
        <area shape="rect" coords="1462,502,1642,612" href="/5.1" alt="5.1" >
        <area shape="rect" coords="1465,687,1634,784" href="/5.2" alt="5.2">
        <area shape="rect" coords="1454,860,1634,957" href="/5.3" alt="5.3">

        <!-- 6.0 Section --> 
        <area shape="rect" coords="1688,522,1842,608" href="/6.1" alt="6.1" >
        <area shape="rect" coords="1693,689,1842,786" href="/6.2" alt="6.2">
        <area shape="rect" coords="1688,845,1844,933" href="/6.3" alt="6.3">
        <area shape="rect" coords="1897,513,2017,610" href="/6.4" alt="6.4">
        <area shape="circle" coords="1956,310,38" href="/page1" alt="RAA">

        <!-- Other --> 
        <area shape="rect" coords="104,1194,1666,1257" href="/page1" alt="Tesing_Planning_Act" >
        <area shape="rect" coords="58,145,95,461" href="/page1" alt="MDA_PEO" >
        <area shape="rect" coords="60,476,96,656" href="/page1" alt="Approval_Authorization" >
        <area shape="rect" coords="60,669,95,1159" href="/page1" alt="Program_Team" >
        <area shape="rect" coords="58,64,602,136" href="/page1" alt="1.0" >
        <area shape="rect" coords="618,70,865,130" href="/page1" alt="2.0">
        <area shape="rect" coords="901,68,1100,134" href="/page1" alt="3.0" >
        <area shape="rect" coords="1125,68,1416,134" href="/page1" alt="4.0" >
        <area shape="rect" coords="1434,66,1651,132" href="/page1" alt="5.0" >
        <area shape="rect" coords="1682,68,2042,134" href="/page1" alt="6.0">

    </map>

    <!-- Link to download the PDF -->
    <p>
        <a href="/static/files/SEEGuidebook.pdf" download="SSE_Cyber_Workflow.pdf">Download the PDF Version</a>
    </p>

</body>
</html>


